extends layout

block content
    h1= title

    - let Bearid = toShow._id
    - let Beartype = toShow.Beartype
    - let Bearcost = toShow.cost
    - let Bearize = toShow.size

    div.row(class='mb-2')
        div.mr-1 ID is
        div #{Bearid}
    - let actionid = "/resource/Bear/" + Bearid
    form(id='BearForm', action= actionid, method="PUT")
        div.form-group
            label.BearAttr(for='Beartype') Bear type
            input#Beartype(type='text' name='Beartype', value= Beartype )
        div.form-group
            label.BearAttr(for='size') Bear size
            input#size(type='text' name='size', value= Bearize )
        div.form-group
            label.BearAttr(for='cost') Bear cost
            input#cost(type='number' name='cost', value= Bearcost )
        input(type="submit")

    script.
        document.forms['BearForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });
