extends layout

block content
    h1= title

    form(id='BearForm' class ='crtForm' action="/resource/Bear" method="POST")
        div.form-group
            label.CrtLabel(for='Color') Bear Color:
            input#Beartype(type='text' class='form-control' name='Color')
        div.form-group
            label.CrtLabel(for='Bread') Bear Bread:
            input#size(type='text' class='form-control' name='Bread')
        div.form-group
            label.CrtLabel(for='Age') Bear Age:
            input#cost(type='number' class='form-control' name='Age')
        input(type="submit" class="btn btn-success")

    script.
        document.forms['BearForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });
